/*
Colors used:
Primary Color (Purple): #382457;
Secondary Color (Aquamarine): #2CDDDD;
Font Color (Dark Black): #242323;
*/

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #242323;
}

h1, h2, h3, h4 {
  font-family: 'Bebas Neue', cursive;
  line-height: 1.4;
}
h1 {
  font-size: 2em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.17em;
  font-weight: 400;
}
h4 {
  font-size: 1em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #382457;
  text-decoration: none; /* No underlining */
}

a:hover {
  color: #0099dd;
  text-decoration: none; /* No underlining */
  padding-bottom: 1px;
	border-bottom: 1px solid #0099dd;
}

a:focus {
  color: #0099dd;
  text-decoration: none; /* No underlining */
  padding-bottom: 1px;
	border-bottom: 1px solid #0099dd;
}

a:active { /* selected link */
  color: #1b102b;
}

.button {
  height: auto;
  padding: 12px 28px;
  background-color: #382457;
  color: #ffffff;
  border: 3px solid #382457;
  font-family: 'Montserrat', sans-serif;
  border-radius: 4px;
  text-decoration: none;
  font-size: 24px;
  margin-top: 32px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: block;
  text-align: center;
  width: 250px;
}

.button span {
  position: relative;
  z-index: 1;
}

.button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #78c7d2;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.button:hover {
  background-color: #ffffff;
  border: 3px solid #382457;
  color: #382457;
  padding-bottom: 12px;
}

.button:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.button:active {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button.contact {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  padding: 12px 28px;
  background-color: transparent;
  color: #382457;
  border: 3px solid #382457;
  text-transform: uppercase;
  cursor: pointer;
}

.button.contact:hover {
  background-color: #382457;
  color: #ffffff;
}

.button.contact:active {
  background-color: #242323;
  color: #ffffff;
}

.button.resume {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  height: auto;
  padding: 12px 28px;
  background-color: #2CDDDD;
  color: #ffffff;
  border: 3px solid #2CDDDD;
  text-transform: uppercase;
  border-bottom: 2px solid #21a6a6;
  cursor: pointer;
}

.button.resume:hover {
  background-color: #ffffff;
  color: #2CDDDD;
}

.button.resume:active {
  background-color: #ffffff;
  color: #2CDDDD;
}
